body {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 400;
}

a, a:link, a:active, a:visited, a:hover, a:focus {
    color: #00E;
    text-decoration: none;
}

a:hover, a:focus {
    color: #00E;
    text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 700;
}

code, kbd, pre, samp {
    font-family: "IBM Plex Mono", monospace;
}

#topbar {
    font-family: "IBM Plex Sans", sans-serif;
    font-weight: 200;
    font-size: 36px;
    padding: 1em 0 1em 1em;
    margin-bottom: 1em;
    border-bottom: 1px solid black;
}

#main {
    display: flex;
}

#toc {
    margin: 0 1em 0 1em;
    border: none;
    width: 300px;
}

.videoblock {
    margin-left: 2em;
}

.admonitionblock td.content > .title, .exampleblock > .title, .imageblock > .title, .videoblock > .title, .listingblock > .title, .literalblock > .title, .openblock > .title, .paragraph > .title, .quoteblock > .title, .sidebarblock > .title, .tableblock > .title, .verseblock > .title, .dlist > .title, .olist > .title, .ulist > .title, .qlist > .title, .hdlist > .title {
    font-weight: 400;
    font-style: italic;
    font-size: 14px;
}

hr, .sect1 + .sect1 {
    border: none;
}

.overbar {
    text-decoration: overline;
    font-weight: 700;
    color: #7f0a0c;
}

@media(max-width: 800px) {
    #main {
       flex-wrap: wrap;
    }
}
